
.blog{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(31,31,142,1) 75%, rgba(48,47,65,1) 100%);
}

.blog h1 {
    font-family:Montserrat;
    color:white;
    padding-left:3%;
}

.hero-blog{
    border-radius:20px;
    padding:3%;
    background: rgb(167,234,255);
    background: linear-gradient(0deg, rgba(167,234,255,1) 0%, rgba(236,236,236,1) 34%, rgba(217,217,221,1) 100%);
}

.hero-section-blog{
    padding-top:5%;

}

.hero-title-blog {
    padding:1%;

}


.hero-title-blog h1{
    font-family:Montserrat;
    color:#3C9FE1;
    font-size:48px;
}

.hero-blog-img{

}

.hero-mellemtitel-blog {
    padding:2%;
}

.hero-mellemtitel-blog h3{
    font-family:Montserrat;
    padding-left:4%;
    padding-right:4%;
}

.hero-tekst-blog{
    padding:1%;
}

.hero-tekst-blog p{
    text-align:center;
    background: -webkit-linear-gradient(black, #3C9FE1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-family:Outfit;
    margin-top:13px;
}




.blog-mellemtitel-section {
    margin-top:7%;
    margin-bottom:3%;
    text-align:center;
    font-family:Montserrat;
    color:white;
}

