


.hero-wrapper{
  
}

.hero_info{
  
}

.hero-title h1{
  font-size:48px;
  font-family: Montserrat;
  padding-left:5%;
}

.hero-tekst p{
  font-size:24px;
  font-family: Outfit;
  padding-left:5%;
  color:#3C9FE1;
}



.hero-btn{
  color: #fff;
  background: linear-gradient(135deg, rgb(60,159,225), #312a6c);
  font-family: 'Robotto';
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hero-btn:hover{
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  animation: rotate 0.7s ease-in-out both;
}
.hero-btn:before,
.hero-btn:after{
  content: '';
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.hero-btn:hover:before,
.hero-btn:hover:after{
  opacity: 0.15;
}
.hero-btn:hover:before{ transform: translate3d(50%, 0, 0) scale(0.9); }
.hero-btn:hover:after{ transform: translate(50%, 0) scale(1.1); }
@keyframes rotate{
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(3deg); }
  50%{ transform: rotate(-3deg); }
  75%{ transform: rotate(1deg); }
  100%{ transform: rotate(0deg); }
}
@media only screen and (max-width: 767px){
  .hero-btn{ margin-bottom: 20px; }
}

.hero-link{
  
}

.hero-link a:link{
  text-decoration: none;
  color:#3C9FE1;
}

.hero-link a:link:hover{
  color:black;
  font-weight: bold;
  letter-spacing:1px;
}


.hero-video{

}

.video-wrapper{

}


video{
  object-fit: cover;
}





.card-shadow {

}

.værdi-body{
  
}

.valuecard-komponent{
  
  
}

Card .card-imgage{
  

}

.valuecard-link a:link{
  text-decoration:none;
  color:#3C9FE1;
}

.valuecard-link a:link:hover{
  color:black;
  font-weight: bold;
  letter-spacing:1px;
}

.valuetitletekst {
  color:black;
  font-size:20px;
  font-family: Outfit;
}

.valuetitletekst h4 {
  font-size:32px;
  font-family: Montserrat;
  color:#3C9FE1;
}


.read-or-hide{
  color:#3C9FE1;
  cursor: pointer;
  z-index:1;
  float:right;
  margin-top:3%;
  margin-right:5%;
  padding-left:3%;
}

.read-or-hide:hover{
  color:black;
  cursor:pointer;
}



.usercase-wrapper1 {

}

.usercase-wrapper2 {
  
}

.usercase-info h4 {
  font-size:32px;
  font-family: Montserrat;
  color:#3C9FE1;
}


.usercase-info p{
  color:black;
  font-size:20px;
  font-family: Outfit;
}



.scientistcard-footer {

}

.scientist-info h4{
  margin-bottom:20px;
}

.scientistcard-link a {
  color:white;
}

.scientistcard-link a:hover {
  color:black;
}

.scientistcard-link a:link{
  margin-top:20px;
  text-decoration:none;
}

.scientistcard-link a:link:hover{
  font-weight: bold;
  letter-spacing:1px;
}




.custom-titel {

}

.custom-komponent {
  margin-bottom:3%;
  margin-top:10%;
}

.customer-wrapper{
  
}

.customer-tekst p{
  color:red;
}

.customer-wrapper h4{
  font-size:25px;
  font-family:Montserrat;
}

.customer-wrapper h5{
  font-size:20px;
  color:black;
  font-family:Montserrat;
}

.customer-wrapper p{
  color:Black;
  font-weight:bold;
  font-size:16px;
  font-family:Outfit;
}




.sub-form input {

}

.subscriber-form input {
  border:orange solid 1px;
}









/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 760px) {



}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ( max-width: 900px) {
  .usercase-info h4{
    text-align:center;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}

