
video{
    object-fit: cover;
}


.produkt-forløb-titel {
    margin-bottom:3%;
}


.produkt-forløb-titel h2{
    margin-top:8%;
    font-family:Montserrat;
}

.produkt-forløb-left{
    margin-top:0%;
}

.produkt-forløb-left h3{
    margin-bottom:4%;
    color:#3C9FE1;
    font-family:Montserrat;
}

.produkt-forløb-right{
    margin-top:0%;
}

.produkt-forløb-right h3{
    margin-bottom:4%;
    color:#3C9FE1;
    font-family:Montserrat;
}




.produkt-sektion-titel h2{
    margin-top:7%;
    font-family:Montserrat;
}

.produkt-tab-sektion-titel h3 {
    color:#3C9FE1;
    font-family:Montserrat;
}

.produkt-tab-titel h4{
    color:orange;
    font-family:Montserrat;
}





